<div class="container">
  <div class="header">
    <!--BANNER AREA-->
    <div class="header__banner"
         [ngStyle]="{
      'background-image' : 'linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.3)), url('+headerBGUrl+')'
      }">
      <h2>{{trending?.results[0].title}}</h2>
      <div class="header__buttons">

        <button class="play-button"> <!-- Ovo je uvek za naslovni film...-->
          <mat-icon>arrow_right</mat-icon>
          <span>Pusti</span>
        </button>

        <button class="more-button">
          <mat-icon>info</mat-icon>
          <span>Info</span>
        </button>

      </div>


    </div>  <!--BANNER ENDS HERE-->


    <!--MAIN AREA-->
   <app-header></app-header>

  </div>

  <div class="body" style="margin-top: 30rem;">
    <app-slider title="Trending" *ngIf="trendingLoaded" [movies]="trending?.results" ></app-slider>
    <app-slider title="Top Rated" *ngIf="topRatedLoaded" [movies]="topRated?.results" ></app-slider>
    <app-slider title="Now Playing" *ngIf="nowPlayingLoaded" [movies]="nowPlaying?.results" ></app-slider>
    <!-- <app-slider title="Originals" *ngIf="originalsLoaded" [movies]="originals?.results" ></app-slider> -->
    <app-slider title="Popular" *ngIf="popularLoaded" [movies]="popular?.results" ></app-slider>
  </div>



</div>
