<div class="container">
  <div class="header">
    <!--BANNER AREA-->
    <div class="header__banner" *ngIf="trendingLoaded"
         [ngStyle]="{
      'background-image' : 'linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.3)), url('+activeMovie.backdropPath+')'
      }">
      <h2>{{activeMovie.title}}</h2>
      <div class="header__buttons">

        <button (click)="playBanerMovie()" class="play-button"> <!-- Ovo je uvek za naslovni film...-->
          <mat-icon>arrow_right</mat-icon>
          <span>Play</span>
        </button>

        <button class="more-button">
          <mat-icon>info</mat-icon>
          <span (click)="showBannerMovieInfo()">Info</span>
        </button>

      </div>


    </div>  <!--BANNER ENDS HERE-->


    <!--MAIN AREA-->
   <app-header></app-header>

  </div>

  <div class="body">
    <app-slider title="Trending" *ngIf="trendingLoaded" [movies]="trending?.results" ></app-slider>
    <app-slider title="Best rated" *ngIf="topRatedLoaded" [movies]="topRated?.results" ></app-slider>
    <!-- <app-slider title="Now Playing" *ngIf="nowPlayingLoaded" [movies]="nowPlaying?.results" ></app-slider> -->
    <!-- <app-slider title="Originals" *ngIf="originalsLoaded" [movies]="originals?.results" ></app-slider> -->
    <app-slider title="Most popular" *ngIf="popularLoaded" [movies]="popular?.results" ></app-slider>
  </div>


  <app-footer></app-footer>
</div>
