<div class="container">
  <div class="header">
    <!--BANNER AREA-->
    <div class="header__banner"
         [ngStyle]="{
      'background-image' : 'linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.3)), url('+headerBGUrl+')'
      }">
      <h2>{{trending?.results[0].title}}</h2>
      <div class="header__buttons">

        <button class="play-button"> <!-- Ovo je uvek za naslovni film...-->
          <mat-icon>arrow_right</mat-icon>
          <span>Play</span>
        </button>

        <button class="more-button">
          <mat-icon>info</mat-icon>
          <span>More Info</span>
        </button>

      </div>


    </div>  <!--BANNER ENDS HERE-->


    <!--MAIN AREA-->
   <div class="header__main" id="stickyHeader" [class.sticky]="sticky" #stickHeader>
     <div class="header__left">
       <a routerLink="/">
         <img src="assets/netflix.svg" alt="logo">
       </a>
       <ul>
         <li class="active"><a routerLink="/">Home</a></li>
         <!-- <li><a href="#">TV Shows</a></li> -->
         <li><a routerLink="movies">Movies</a></li>
         <!-- <li><a href="#">Latest</a></li>
         <li><a href="#">My List</a></li> -->
       </ul>
     </div>

     <div class="header__right">
       <app-search-bar></app-search-bar>
     </div>
   </div>  <!--HEADER MAIN ENDS HERE-->

  </div>

  <div class="body" style="margin-top: 30rem;">
    <app-slider title="Trending" *ngIf="trendingLoaded" [movies]="trending?.results" ></app-slider>
    <app-slider title="Top Rated" *ngIf="topRatedLoaded" [movies]="topRated?.results" ></app-slider>
    <app-slider title="Now Playing" *ngIf="nowPlayingLoaded" [movies]="nowPlaying?.results" ></app-slider>
    <app-slider title="Originals" *ngIf="originalsLoaded" [movies]="originals?.results" ></app-slider>
    <app-slider title="Popular" *ngIf="popularLoaded" [movies]="popular?.results" ></app-slider>
  </div>



</div>
