
  <!--MAIN AREA-->
 <div class="header__main" id="stickyHeader" [class.sticky]="sticky" #stickHeader>
   <div class="header__left">
     <a routerLink="/" rel="nofollow noopener">
       <img class="logo" src="assets/SRBILIX.svg" alt="logo">
     </a>
     <ul>
       <li>
         <a [routerLink]="['']" routerLinkActive="active" href="" rel="nofollow noopener">Pocetna</a>
      </li>
       <!-- <li><a href="#">TV Shows</a></li> -->
       <li>
         <a [routerLink]="['/movies']" routerLinkActive="active" href="/movies" rel="nofollow noopener">Filmovi</a>
       </li>
       <!-- <li><a href="#">Latest</a></li>
       <li><a href="#">My List</a></li> -->
     </ul>
   </div>

   <div class="header__right">
     <app-search-bar></app-search-bar>
   </div>
 </div>  <!--HEADER MAIN ENDS HERE-->
