
.search-container {
  padding: 1rem;

  .search {
    font-family: inherit;
    font-size: 1.2rem;
    // border: 2px solid #0D0D0D;
    // border: 2px solid #373b69;
    border: 1px solid rgb(219, 32, 44);
    border-radius: 50px;
    background-color: transparent;
    color: #ffffff;
    padding: 0.5rem 1.5rem;
  }
}

