

.search-container {
  padding: 1rem;
  // width: 10%;

  input:focus {
    outline: none;
    z-index: 200;
    box-shadow: 2px 2px 2px 2px rgb(200, 2, 55);
  }

  .search {
    width: 15rem;
    font-family: inherit;
    font-size: 1.2rem;
    // border: 2px solid #0D0D0D;
    // border: 2px solid #373b69;
    border: 1px solid rgb(219, 32, 44);
    border-radius: 50px;
    background-color: transparent;
    color: #ffffff;
    padding: 0.5rem 1.5rem;
  }
}

