<div class="container">
  <div class="header">
    <app-header></app-header>
  </div>

  <app-loading-spinner *ngIf="common.showSpinner"></app-loading-spinner>

  <app-genre-filters (moviesEmitter)="getByGenre($event)"></app-genre-filters>

  <div class="movie-container">
    <app-movie
      *ngFor="let movie of movies?.results; trackBy:trackByFn"
      [movie]="movie"
      [showOverview]="false"
    ></app-movie>
  </div>
  <!-- <hr> -->
  <app-pagination-bar *ngIf="currentGenre" [genre]="currentGenre" (moviesEmitter)="handlePagination($event)"></app-pagination-bar>

  <hr *ngIf="currentGenre">
  <app-footer></app-footer>
</div>
