.container {

  display: flex;
  flex-direction: column;

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 6rem;
    z-index: 700;
  }

  // TODO: fix this
  .movie-container {
    // margin: 20px 10% 0 10%;
    width: 80%;
    height: 80%;
    margin: 5em 0 5em 5em;
    display: flex;
    flex-wrap: wrap;
    // justify-content: flex-start;
    // align-items: center;
    justify-content: center;
    // flex-direction: row;

    app-movie {
      flex: 1 auto;
    }
  }

}
