.movie {
  // max-width: 300px;
  position: absolute;
  width: 300px;
  height: 360px;
  // width: 100%;
  // height: 350px;
  // min-height: 320px;
  max-height: 400px;
  // background-color: #373b69;
  padding: 0.3rem;
  background-color: #070a0c;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  margin: .2rem;

  img {
    // max-width: 300px;
    display: block;
    width: 100%;
    height: 80%;
    // height: 250px;
    object-fit: cover;
  }

  .movie-info {
    width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    overflow: hidden;
    color: white;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;

    h4 {
      margin: 0;
    }

    .tag {
      margin-left: 5px;
      min-width: 22px;
      text-align: center;
      background-color: #22254b;
      padding: 0.2rem;
      border-radius: 5px;
    }

    .green {
      color: green;
    }

    .orange {
      color: orange;
    }

    .red {
      color: red;
    }
  }

  .movie-overview {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: gainsboro;
    color: black;
    padding: .5rem;
    margin-left: 5px;
    transform: translateY(102%);
    transition: transform 0.3s ease-in-out;
    overflow: auto;
    max-height: 60%;
    max-width: 100%;
    width: 90%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.1);
  }
}


.movie:hover .movie-overview {
  // position: absolute;
  // margin-left: .3rem;
  transform: translateY(-75px);
  word-wrap: break-word;
}


// for laptops:
@media screen and (min-width: 1440px) {

  .movie {
    width: 200px;
    height: 350px;
    // height: 350px;
    // min-height: 320px;
    // max-height: 400px;
    // background-color: #373b69;
    padding: 0.2rem;
    background-color: #070a0c;
    border-radius: 3px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    border-radius: 5px;

    img {
      max-width: 250px;
      // width: 500px;
      // object-fit: cover; TODO: fix this
      object-position: center;
      object-fit: cover;
    }

    .movie-info {
      max-width: 70%;
      display: flex;
      align-items: flex-start;
      justify-content: space-around;
      overflow: hidden;
      color: white;
      margin-top: 3px;

      h4 {
        margin: 0;
      }

      .tag {
        background-color: #22254b;
        padding: 0.1rem;
        border-radius: 5px;
      }

      .green {
        color: green;
      }

      .orange {
        color: orange;
      }

      .red {
        color: red;
      }
    }
  }

  .movie:hover .movie-overview {
    max-width: 90%;
    // position: absolute;
    // margin-left: .3rem;
    transform: translateY(-73px);
    word-wrap: break-word;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .movie {
    width: 200px;
    height: 250px;
    // height: 350px;
    // min-height: 320px;
    // max-height: 400px;
    // background-color: #373b69;
    padding: 0.2rem;
    background-color: #070a0c;
    border-radius: 3px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    border-radius: 5px;

    img {
      max-width: 250px;
      // width: 500px;
      // object-fit: cover;
    }
  }
}
