.movie {
  width: 300px;
  height: 360px;
  // height: 350px;
  // min-height: 320px;
  // max-height: 400px;
  // background-color: #373b69;
  padding: 0.3rem;
  background-color: #070a0c;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  border-radius: 5px;

  img {
    max-width: 300px;
    object-fit: cover;
  }

  .movie:hover {
    cursor: pointer;
  }

  .movie-info {
    max-width: 60%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    overflow: hidden;
    color: white;
    margin-top: 5px;

    h4 {
      margin: 0;
    }

    .tag {
      background-color: #22254b;
      padding: 0.2rem;
      border-radius: 5px;
    }

    .green {
      color: green;
    }

    .orange {
      color: orange;
    }

    .red {
      color: red;
    }
  }

  .movie-overview {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: gainsboro;
    color: black;
    padding: .5rem;
    transform: translateY(102%);
    transition: transform 0.3s ease-in-out;
    overflow: auto;
    max-height: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.1);
  }
}


.movie:hover .movie-overview {
  transform: translateY(0%);
  word-wrap: break-word;
}


