<footer class="footer-container">
  <div class="disclaimer">
    <span> Srbilix - Gledajte Filmove online besplatno! </span>
    <hr />
    <span>
      <b>Disclaimer</b>: Nijedan fajl se NE nalazi na našem serveru! Naš sistem
      isključivo indeksira linkove (embed) ka drugim sajtovima kao sto su
      openload.co, dailymotion, youtube itd... Za povredu DMCA kontaktirajte ih
      direktno.
    </span>
  </div>

  <div class="seo-links">
    <ul style="display: inline-block">
      <li>Filmovi sa prevodom</li>
      <li>Online filmovi</li>
      <li>Besplatni filmovi</li>
      <li>HD filmovi</li>
    </ul>
  </div>

  <div class="social-sharing">
    <a href="https://www.facebook.com/profile.php?id=100063888456712" rel="noopener" target="_blank" class="fa fa-facebook"></a>
    <a href="https://twitter.com/Srbilix1" rel="noopener" target="_blank" class="fa fa-twitter"></a>
    <a href="https://www.instagram.com/srbilix23/" rel="noopener" target="_blank" class="fa fa-instagram"></a>
  </div>
</footer>
