<div class="footer-container">
  <div class="disclaimer">
    <span> Thank you for watching free movies on our platform! </span>
    <hr />
    <span>
      <b>Disclaimer</b>: No files are on our server! Our system exclusively
      indexes links (embed) to other sites such as openload.co, dailymotion,
      youtube etc ... For DMCA violation contact them directly.
    </span>
  </div>

  <div class="social-sharing">
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-instagram"></a>
  </div>
</div>
