<!-- <div class="video-modal"> -->
<h2 mat-dialog-title center class="video-modal-title">
  {{ data.movie.title }}
</h2>
<mat-dialog-content>
  <div class="videoWrapper">
    <iframe
      id="movie-modal-id"
      [src]="domSanitizer.bypassSecurityTrustResourceUrl(data.hostLink)"
      frameborder="0"
      allowfullscreen
      allowTransparency="true"
    ></iframe>
  </div>
  <!--Ovde ce ici Overview filma sa ocenom i glumcima i release datetom...-->

</mat-dialog-content>

<mat-dialog-actions>
  <div class="about-movie">
    <!-- <h3 mat-dialog-title center>About</h3> -->
    <!-- <span>Glumci: pera, mika zika</span> -->
    <!-- <span> Description: </span> -->
    <hr />
    <p class="movie-desc">
      {{ data.movie.overview }}
    </p>
    </div>
</mat-dialog-actions>
